body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
    width: 500px;
    margin: 300px auto;
    text-align: center;
}

.toggler {
    position: absolute;
    left: 40%;
    bottom: 10px;
    cursor: pointer;
    padding: 1rem 2rem;
}

.title {
    border: 1px solid red;
    margin: 20px 0;
    padding: 20px 0;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
